{% load static %}
{% include "../base.html" %}
{% block stylesheet%}<link rel="stylesheet" href="{% static '/css/home.css'%}">{%endblock stylesheet%}

<div class="main-container">
    <div class="nav-container">
        <nav>
            <div class="link-container">
                <h3>Jason Wright</h3>
                <h6>Web Developer</h6>
            </div>
            <img src="{% static '/images/cork-board.jpg' %}" class="cork-board">
            <img src="{% static '/images/professional_400px.png'%}" class="profile">
            <div class="link-container">
                <a href="/">Home</a>
                <a href="/">About</a>
                <a href="#">Work</a>
                <a href="#">Contact</a>
            </div>
            <div class="social-icons">
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-github-square"></i></a>
                <a href="#"><i class="fab fa-hackerrank"></i></a>
            </div>
        </nav>
    </div>

    <div class="page-container">
        <div class="section-container">
            <h1>Project Highlights</h1>
            <div class="projects-container">
            {% for project in projects|slice:"0:3" %}
                <div class="project">
                    <div class="project-img-container"><img src="/media/{{project.project_img}}" alt="project image" class="project-img"></div>
                    <div class="project-content">
                        <div class="project-header">{{project.project_name}}</div>
                        <div class="project-text">{{project.project_description|linebreaks}}</div>
                        {% for tag in project.tags.values %}
                        <div class="project-tags"><p class="tag {{tag.tag_name}}">{{tag.tag_name}}</p></div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>

        <div class="section-container about-container">
            <div class="about-description">
                <h1>About</h1>
                <p> I'm a self-taught web developer with experience in HTML5, CSS3, Javascript and Python.</p>
                <p> I learned how to code because I love solving problems and exercising my creativity.</p>
                <p> Previously, I was a part-qualified management accountant.
                    I'd like to use my experience to produce web apps for SME finance teams.</p>
                
                <div class="about-learning">
                    <h6>Currently Learning</h6>
                    <p> As of 23rd Dec 2020, my plan is to follow a few more Django tutorials and work on some of my own projects.
                        After I'm done with this I'll be learning React.
                    </p>
                </div>
            </div>
            <div class="about-graphic">
                <h1>Skills</h1>
                    <p>HTML</p>
                        <div class="skill-container">
                        <div class="skills html-skill">65%</div>
                    </div>

                    <p>CSS</p>
                        <div class="skill-container">
                        <div class="skills css-skill">70%</div>
                    </div>

                    <p>JavaScript</p>
                        <div class="skill-container">
                        <div class="skills js-skill">25%</div>
                    </div>

                    <p>Python</p>
                        <div class="skill-container">
                        <div class="skills python-skill">50%</div>
                    </div>
                <div class="other-skills">
                    <h6>Other</h6>
                    <ul>
                        <li>Github</li>
                        <li>Heroku</li>
                        <li>Linux / Windows CLI</li>
                        <li>Visual Studio Code</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="section-container">
            <h1>Work</h1>
            <div class="work-container">
                <div class="work work-list">
                    <table>
                    <tr>
                        <th>Projects</th>
                        <th>Tags</th>
                    </tr>
                    {% for project in projects %}
                        <tr>
                            <td>
                                <a href="{{project.project_url}}">{{project.project_name}}</a>
                            </td>
                            <td>
                                {% for tag in project.tags.values %}<p class="tag work-tag {{tag.tag_name}}">{{tag.tag_name}}</p>{% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
                <div class="work work-preview">
                    <h3>Preview</h3>
                </div>
            </div>
        </div>

        <div class="section-container contact-container">
            <h1>Contact</h1>
            <div class="contact-form-container">
                <form action="">
                    <div class="row">
                    <div class="col-25">
                        <label for="name">Name</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="name" name="name" placeholder="Name">
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-25">
                        <label for="Email">Email</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="Email" name="Email" placeholder="Email">
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-25">
                        <label for="message">Message</label>
                    </div>
                    <div class="col-75">
                        <textarea id="message" name="message" placeholder="Your message" style="height:200px"></textarea>
                    </div>
                    </div>
                    <div class="row">
                    <input type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>