{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block head_title %} {% endblock head_title %}
    {% block favicon %} {% endblock favicon %}
    {% block stylesheet %}
        <link rel="stylesheet" href="{% static '/css/style.css'%}">
        <link rel="stylesheet" href="{% static '/bootstrap-4.0.0/dist/css/bootstrap.min.css'%}">
    {% endblock stylesheet %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/92efd03253.js" crossorigin="anonymous"></script>
</head>

<body class="">
    {% block content  %}
    {% endblock content %}
</body>

<script src="{% static '/bootstrap-4.0.0/dist/js/bootstrap.min.js' %}"></script>

{% block script %}{%endblock script%}

</html>